@import "base";

@import "lib/_normalize";

@import "includes/_sprites";
@import "includes/header/_header";
@import "includes/navigation/_navigation";
@import "includes/heroes/_heroes";
@import "includes/_footer";
@import "includes/_PromoBox";
@import "includes/_tiles";

@import "layouts/_RelatedPage";
@import "layouts/_gallery";
@import "layouts/_Blog";

@import "modules/_ImageGalleryModule";


html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-size: $base-font-size;
}

body {
	color: $base-color;
	font-family: $base-font-family;
}

* {
	@include box-sizing(border-box);
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
}

a {
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

@include link-colors($base-color, $base-color, lighten($base-color, 30%), lighten($base-color, 30%));

figure {
	margin: 0;
}