nav {
	position: relative;
	display: block;

	&.center {
		float: none;
		text-align: center;
		width: 100%;
	}
	&.left {
		text-align: left;
	}

	.menu {
		margin: 0;
		padding: 0;
		display: block;

		.has-dropdown {
			position: relative;
		}

		.nav-dropdown {
			display: none;
			position: absolute;
			z-index: 100;
			padding: 0;
			width: 180px;

			li {
				border: 0;
				background-color: #fff;
				display: block;
				padding: 0;
			}

			a {
				padding: 10px 20px;
				display: block;
			}

			.arrow {
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 12px solid #fff;
				margin-left: 40px;
			}
		}

		> li {
			position: relative;
			display: inline-block;
			list-style: none;

			&:after {
				content: "|";
				padding: 0 10px;
			}

			> a {
				display: inline-block;
				padding: 15px 0;
			}

			&.last:after {
				content: "";
				display: none;
			}

			&:hover .nav-dropdown {
				display: block;
			}
		}


	}
}

.dropdown-container {
	display: none;
}



@include at-breakpoint(0 768px $mobile-columns) {



}