nav {
	position: relative;
	display: block;

	&.center {
		float: none;
		text-align: center;
		width: 100%;
	}
	&.left {
		text-align: left;
	}

	.menu {
		margin: 0;
		padding: 0;
		display: block;

		> li {
			position: relative;
			display: inline-block;
			list-style: none;

			&:after {
				content: "|";
				padding: 0 10px;
			}

			> a {
				display: inline-block;
				padding: 15px 0;
			}

			&.last:after {
				content: "";
				display: none;
			}
		}
	}
}


// Dropdown Menu
.dropdown-container {
	@include pie-clearfix;
	width: 100%;
	position: absolute;
	z-index: 100;
	display: none;
	background-color: $primary-color;

	.nav-dropdown {
		display: block;
	}

	.page-scroll-button {
		position: absolute;
		top: 0;
		z-index: 110;

		a {
			color: #ae8346;
			height: 35px;
			width: 35px;
			background: image("dropdown-arrow.png") no-repeat center #fff;
			display: inline-block;
			text-indent: -9999px;
		}
	}
}

.nav-dropdown {
	@include pie-clearfix;
	padding:62px 0 0 0;
	margin: 0 auto;
	max-width: 940px;
	display: none;

	img {
		height: 130px;
		width: 221px;
	}

	li {
		margin: 0 20px 25px 0;
		border-bottom:1px dotted #000;
		text-align: center;
		width: 220px;
		list-style: none;
		float: left;

		&.last {
			margin-right: 0;
		}
	}

	a {
		padding-bottom: 7px;
		line-height: 20px;
		color: #000;
		font-size:15px;
		font-weight: 300;

		&:hover {
			color: $secondary-color;
		}
	}
}

.menu .page-scroll-button.open {
	display: block !important;
}

.menu li.show .page-scroll-button{
	display: block;
}

.menu.show{
	border: 1px solid red;
	.page-scroll-button{
		display: block;
	}
}



@include at-breakpoint(0 768px $mobile-columns) {



}