@import 'default-nav';


// Mobile Navigation
nav.mobile-nav {
	display: none !important;
	float:right;
	clear:none;
	top:26px;
	margin:0;

	a:hover {
		color: #222;
	}

	.menu {
		display: none;
		position: absolute;
		top: 24px;
		right: 0;
		width: 160px;
		z-index: 100;
		background-color: $secondary-color;

		li {
			display: block;
			margin: 0;
			border:0;
			float: left;
			clear: both;
			width: 100%;
			text-align: left;

			&:after {
				content: "";
				display: none;
			}

			a {
				display: block;
				padding: 5px;
			}

			.nav-dropdown {
				display: none;
				position: static;
				padding: 0;
				width: auto;
				@include pie-clearfix;

				li {
					background-color: transparent;
				}

				a {
					padding-left: 15px;
				}

				&:hover {
					display: none;
				}

				.arrow {
					display: none;
				}
			}
		}
	}
}

#mobileMenuButton {
	display: none !important;
	color: #222;
	width: 42px;
	height: 30px;
	background: image("menu-icon.png") no-repeat center center $grey;
	cursor: pointer;
	border: 1px solid black;
	position: absolute;
	right: 12px;
	top: 20px;
	overflow: hidden;

	a {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		padding: 0;
		color: transparent;
	}
}



@include at-breakpoint(0 768px $mobile-columns) {

	header.block-header nav,
	header.inline-header nav {
		display: none;
	}

	#mobileMenuButton,
	nav.mobile-nav {
		display: block !important;
	}

}