/* Grids */
/* $gutter-width */
/* Main Colours */
/* Fonts */
/* line 10, ../scss/form.scss */
form {
  /* Grids */
  /* $gutter-width */
  /* Main Colours */
  /* Fonts */
}
/* line 13, ../scss/includes/_FormInline.scss */
form .field {
  *zoom: 1;
  clear: both;
  margin: 6px 0;
}
/* line 38, F:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
form .field:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../scss/includes/_FormInline.scss */
form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 25, ../scss/includes/_FormInline.scss */
form label {
  width: 20%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  float: left;
  display: inline-block;
  text-align: right;
  font-size: 16px;
}
@media (max-width: 1023px) {
  /* line 25, ../scss/includes/_FormInline.scss */
  form label {
    width: 14.89362%;
    float: left;
    margin-right: 2.12766%;
  }
}
@media (max-width: 767px) {
  /* line 25, ../scss/includes/_FormInline.scss */
  form label {
    width: 100%;
    float: right;
    margin-right: 0;
    text-align: left;
    padding: 5px 0;
  }
}
/* line 46, ../scss/includes/_FormInline.scss */
form input,
form select,
form textarea {
  width: 77.14286%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  float: left;
  display: inline-block;
  border: none;
  padding: 8px 6px;
  margin: 0;
  background-color: #eeeeee;
  outline: none;
}
@media (max-width: 1023px) {
  /* line 46, ../scss/includes/_FormInline.scss */
  form input,
  form select,
  form textarea {
    width: 82.97872%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 46, ../scss/includes/_FormInline.scss */
  form input,
  form select,
  form textarea {
    width: 100%;
    float: right;
    margin-right: 0;
    clear: both;
  }
}
/* line 67, ../scss/includes/_FormInline.scss */
form input[type="submit"] {
  width: auto;
}
/* line 69, ../scss/includes/_FormInline.scss */
form .buttons {
  float: right;
}
/* line 71, ../scss/includes/_FormInline.scss */
form .buttons button {
  background-color: #2ba6cb;
  color: #fff;
  border: 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0 10px;
  height: 34px;
}
/* line 83, ../scss/includes/_FormInline.scss */
form .error {
  color: #d90909;
  background-color: #fff;
  border: 1px solid #d90909;
  padding: 8px 20px;
  font-size: 14px;
  position: absolute;
  z-index: 10;
  text-align: left;
  margin: 0;
  width: auto;
}
@media (max-width: 1023px) {
  /* line 83, ../scss/includes/_FormInline.scss */
  form .error {
    position: relative;
    float: left;
    background-color: transparent;
    border: none;
    padding: 8px 0;
  }
}

/* line 14, ../scss/form.scss */
form.checkout {
  /* Grids */
  /* $gutter-width */
  /* Main Colours */
  /* Fonts */
}
/* line 13, ../scss/includes/_FormBlock.scss */
form.checkout .field {
  *zoom: 1;
  clear: both;
  margin: 6px 0;
}
/* line 38, F:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
form.checkout .field:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../scss/includes/_FormBlock.scss */
form.checkout fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 25, ../scss/includes/_FormBlock.scss */
form.checkout label {
  width: 100%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  float: left;
  display: inline-block;
  font-size: 16px;
  padding: 5px 0;
}
@media (max-width: 1023px) {
  /* line 25, ../scss/includes/_FormBlock.scss */
  form.checkout label {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 25, ../scss/includes/_FormBlock.scss */
  form.checkout label {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
/* line 44, ../scss/includes/_FormBlock.scss */
form.checkout input,
form.checkout select,
form.checkout textarea {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  float: left;
  clear: both;
  display: inline-block;
  border: none;
  padding: 6px;
  margin: 0;
  background-color: #eeeeee;
  outline: none;
}
@media (max-width: 1023px) {
  /* line 44, ../scss/includes/_FormBlock.scss */
  form.checkout input,
  form.checkout select,
  form.checkout textarea {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 44, ../scss/includes/_FormBlock.scss */
  form.checkout input,
  form.checkout select,
  form.checkout textarea {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
/* line 65, ../scss/includes/_FormBlock.scss */
form.checkout input[type="submit"] {
  width: auto;
}
/* line 67, ../scss/includes/_FormBlock.scss */
form.checkout .buttons {
  float: right;
}
/* line 69, ../scss/includes/_FormBlock.scss */
form.checkout .buttons button {
  background-color: #2ba6cb;
  color: #fff;
  border: 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0 10px;
  height: 34px;
}
