/* Grids */
/* $gutter-width */
/* Main Colours */
/* Fonts */
/* line 4, ../scss/layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/layout.scss */
html,
body {
  height: 100%;
  min-height: 100%;
}

/* line 14, ../scss/layout.scss */
body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* line 22, ../scss/layout.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 29, ../scss/layout.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

/* line 36, ../scss/layout.scss */
ul li,
ol li {
  line-height: 24px;
}

/* line 40, ../scss/layout.scss */
a {
  text-decoration: none;
  color: #333333;
  display: block;
}
/* line 45, ../scss/layout.scss */
a:hover {
  color: #666666;
}
/* line 49, ../scss/layout.scss */
a:active {
  color: #333333;
}

/* line 54, ../scss/layout.scss */
.content {
  *zoom: 1;
  *zoom: 1;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  max-width: 960px;
}
/* line 38, F:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, F:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../scss/layout.scss */
.content article {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 63, ../scss/layout.scss */
.content article.sidenav-page {
  width: 74.46809%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
/* line 68, ../scss/layout.scss */
.content aside.sidebar {
  width: 23.40426%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 1, ../scss/includes/_header.scss */
header {
  *zoom: 1;
  width: 100%;
}
/* line 38, F:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../scss/includes/_header.scss */
header .logo {
  width: 300px;
  max-width: 300px;
  float: left;
  display: inline-block;
}
/* line 11, ../scss/includes/_header.scss */
header .logo h1 a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo.png?1395177310');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 29px;
  background-size: 100%;
  width: 100%;
  height: auto;
}

/* line 20, ../scss/includes/_header.scss */
nav {
  margin: 10px 0;
  clear: both;
  position: relative;
}

/* line 22, ../scss/includes/_header.scss */
.nav {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 27, ../scss/includes/_header.scss */
.nav li {
  position: relative;
  display: inline-block;
  list-style: none;
  border-right: 1px solid #333333;
  padding: 0 20px;
}
/* line 33, ../scss/includes/_header.scss */
.nav li.first {
  padding-left: 0;
}
/* line 34, ../scss/includes/_header.scss */
.nav li.last {
  border: none;
}
/* line 37, ../scss/includes/_header.scss */
.nav li:hover .dropdown {
  display: block;
}
/* line 39, ../scss/includes/_header.scss */
.nav .has-dropdown {
  position: relative;
}
/* line 41, ../scss/includes/_header.scss */
.nav .dropdown {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  padding: 20px 0 0 0;
  width: 180px;
}
/* line 50, ../scss/includes/_header.scss */
.nav .dropdown li {
  border: 0;
  background-color: #fff;
  display: block;
  padding: 0;
}
/* line 57, ../scss/includes/_header.scss */
.nav .dropdown a {
  padding: 5px 20px;
}
/* line 61, ../scss/includes/_header.scss */
.nav .dropdown .arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
  margin-left: 40px;
}

/* line 72, ../scss/includes/_header.scss */
#menu-icon {
  display: none;
}

/* SEARCH PAGE */
/* line 75, ../scss/includes/_header.scss */
.search-bar {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
/* line 79, ../scss/includes/_header.scss */
.search-bar #Search {
  display: inline-block;
  float: left;
  margin: 0;
}
/* line 80, ../scss/includes/_header.scss */
.search-bar input[type="text"] {
  width: 160px;
  border: 1px solid #222;
  background-color: #fff;
  padding: 5px 6px;
}
/* line 81, ../scss/includes/_header.scss */
.search-bar input[type="submit"] {
  width: auto;
  float: left;
  display: inline-block;
  padding: 6px;
  margin-left: 3px;
}

/* line 84, ../scss/includes/_header.scss */
#SearchResults {
  padding-left: 0;
}
/* line 86, ../scss/includes/_header.scss */
#SearchResults h4 {
  margin: 0;
}
/* line 87, ../scss/includes/_header.scss */
#SearchResults p {
  margin: 0;
}
/* line 88, ../scss/includes/_header.scss */
#SearchResults li {
  margin-bottom: 30px;
  list-style: none;
}
/* line 90, ../scss/includes/_header.scss */
#SearchResults .readMoreLink {
  display: inline-block;
  text-decoration: underline;
}

/* Home Slideshow */
/* line 2, ../scss/includes/_HeroSlider.scss */
.slideshow {
  clear: both;
  float: none;
  width: 100%;
  background-color: #888888;
}

/* line 9, ../scss/includes/_HeroSlider.scss */
.slide-item {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* slideshow images (for most of the demos, these are the actual "slides") */
/* line 16, ../scss/includes/_HeroSlider.scss */
.slide-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  display: block;
}

/* in case script does not load */
/* line 26, ../scss/includes/_HeroSlider.scss */
.cycle-slideshow img:first-child {
  position: static;
  z-index: 100;
}

/* pager */
/* line 32, ../scss/includes/_HeroSlider.scss */
.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 10px;
  overflow: hidden;
}

/* line 41, ../scss/includes/_HeroSlider.scss */
.cycle-pager span {
  font-size: 50px;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
  vertical-align: middle;
}

/* line 49, ../scss/includes/_HeroSlider.scss */
.cycle-pager span.cycle-pager-active {
  color: #D69746;
}

/* line 53, ../scss/includes/_HeroSlider.scss */
.cycle-pager > * {
  cursor: pointer;
}

/* Generic page Hero */
/* line 59, ../scss/includes/_HeroSlider.scss */
.hero-wrapper div {
  background: url(../images/hero-img.jpg) no-repeat center top #888888;
  width: 100%;
  height: 210px;
}

/* line 2, ../scss/includes/_breadcrumbs.scss */
.breadcrumbs p {
  font-size: 12px;
  text-transform: capitalize;
}
/* line 3, ../scss/includes/_breadcrumbs.scss */
.breadcrumbs strong {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 1, ../scss/includes/_footer.scss */
footer {
  *zoom: 1;
  width: 100%;
  clear: both;
  background-color: #ffefc4;
}
/* line 38, F:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../scss/includes/_footer.scss */
footer .column {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  float: left;
}
/* line 11, ../scss/includes/_footer.scss */
footer .column:nth-child(4) {
  width: 23.40426%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 15, ../scss/includes/_footer.scss */
footer .column ul {
  padding: 0;
}
/* line 19, ../scss/includes/_footer.scss */
footer .column li {
  list-style: none;
  line-height: 24px;
}
/* line 25, ../scss/includes/_footer.scss */
footer .copyright {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  clear: both;
  font-size: 12px;
}

/* line 32, ../scss/includes/_footer.scss */
.copyright-m {
  display: none;
  text-align: center;
}
