//@import "../images/social/*.gif";
//@include all-social-sprites;

.promo-box > a {
	line-height: 0;
}

.promo-box-container {
	@include pie-clearfix;
	padding: 0 !important;

	img {
		width: 100%;
		height: auto;
	}

	figure {
		position: relative;
		margin: 0;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px;
		background-color: $secondary-color;
		line-height: normal;
	}

	.promo-box {
		@include pixelToREM('margin-bottom', $gutter-width);
	}
}

// SIDEBAR PROMO-BOX
.side-menu-page {
	.promo-box {
		width: columns(3, 3);
		display: block;
		margin: 0 0 10px 0;
	}
}

// SOCIAL ICONS
.social {
	padding: 0;

	li {
		list-style: none;
		display: inline-block;
		float: left;
		margin: 0 5px;
	}

	a {
		width: 33px;
		height: 32px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
	}
}


@include at-breakpoint(0 $xlarge-layout $total-columns) {

	// SIDEBAR PROMO-BOX
	.side-menu-page {
		.promo-box {
			@include span-columns(3);

			&:last-child {
				@include omega;
			}
		}
	}

}


@include at-breakpoint(0 $medium-layout $mobile-columns) {

	// SIDEBAR PROMO-BOX
	.side-menu-page {
		.promo-box {
			@include span-columns(3, $mobile-columns);
			margin-bottom: $gutter-width;

			&:nth-child(even) {
				@include omega;
			}
		}
	}


	// HOMEPAGE PROMO-BOX
	.promo-box-container.col-4 .promo-box {
//		@include span-columns(3, $mobile-columns);
		width: 47.5%;
		width: calc(50% - 8px);
		margin-right: 15px;
		margin-bottom: 15px;

		&:nth-child(even) {
//			@include omega;
			margin-right: 0;
			float: right;
		}
	}

	.promo-box-container.col-3 .promo-box {
		@include span-columns($mobile-columns, $mobile-columns);
	}

}


@include at-breakpoint(0 $small-layout $mobile-columns) {



}