// Home Slideshow
.slideshow {
	display: block;
	float: none;
	width: 100%;
	background-color: $grey;
	position: relative;
	z-index: 0;
	height: 0;
	padding-bottom: 35%;
	overflow: hidden;

	.item-container {
		width: 100%;
		margin: 0 auto;
		//		height: 514px;
		overflow: hidden;
		position: static !important;

		.item {
			position: relative;
			width: 100%;
			height: 100%;
			background: {
				size: cover;
				repeat: no-repeat;
				position: center;
			}
		}
	}

	.slider-control-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		max-width: $fixed-width;
		height: 100%;
		z-index: 110;
	}

	.slider-control {
		position: absolute;
		top: 50%;
		width: 17px;
		height: 33px;
		cursor: pointer;

		&.next {
			right: -20px;
			background: {
				image: image("next.png");
				repeat: no-repeat;
				position: center;
				size: 100%;
			}
		}

		&.prev {
			left: -20px;
			background: {
				image: image("prev.png");
				repeat: no-repeat;
				position: center;
				size: 100%;
			}
		}
	}
}

// in case script does not load
.cycle-slideshow img:first-child {
	position: static;
	z-index: 100;
}

// pager
.cycle-pager {
	text-align: center;
	width: 100%;
	z-index: 120;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
}

.cycle-pager span {
	font-size: 50px;
	line-height: 1;
	display: inline-block;
	color: #ddd;
	cursor: pointer;
	vertical-align: middle;
}

.cycle-pager span.cycle-pager-active {
	color: #D69746;
}

.cycle-pager > * {
	cursor: pointer;
}


@include at-breakpoint(0 1024px $total-columns) {
	.slideshow .item-container {
		height: 414px;

		.slider-control {
			&.prev {
				left: 10px;
			}
			&.next {
				right: 10px;
			}
		}
	}
}


@include at-breakpoint(0 768px $total-columns) {
	.slideshow .item-container {
		height: 220px;
	}
}