.hero-wrapper {
	.hero-img {
		background: {
			color:$grey;
			image: image("hero-img.jpg");
			repeat: no-repeat;
			position: center top;
			size: cover;
		}
		max-width: 100%;
		//		height: 210px;
		@include aspect-ratio2(12, 2);
	}
}


@include at-breakpoint(0 768px $mobile-columns) {

	.hero-wrapper .hero-img {
		@include aspect-ratio2(12, 4);
	}

}