.tabs {margin:30px 0;}

// GALLERY TAB
.gallery-tab {
	padding: 0;
	margin: 0;

	.previous, .next {
		display: none;
	}

	li {
		list-style: none;
		display: inline-block;
		background-color:#ccc;
		width:188px;
		height:46px;
		vertical-align:bottom;
		margin-right:4px;

		&.current {
			background-color:#aaa;
		}
	}

	a {
		padding:5px 10px;
		height:100%;
		display: block;
	}
}

// GALLERY CONTENTS
.gallery-wrapper {
	@include pie-clearfix;
	background-color:#ccc;

	ul {
		padding:0;
		height:100%;

		li {
			list-style:none;
		}
	}

	.button-section {
		overflow: auto;
		clear: both;

		.prev {
			float:left;
		}

		.more {
			float:right;
		}
	}
}

.gallery-left {
	width:percentage(700px / 960px);
	float:left;
	padding:12px;
	position: relative;

	.items {
		position: relative;
	}
	.items ul {
		margin:0;
	}
	.items img {
		width:100%;
	}
	.items figure {
		position: relative;
		margin: 0;
	}

	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #fff;
		font-weight: 400;
		font-size: 14px;
		padding: 20px;
		background-color:rgba(15,55,112, 0.85);
	}
}

.gallery-list {
	width:percentage(260px / 960px);
	float:right;
	padding:12px;

	h2 {
		margin-top:0;
	}

	ul {
		font-size:0;

		li {
			display:inline-block;

			img {
				float:left;
			}

			&.odd {
				margin:0 7px 7px 0;
			}

			&.even {
				margin:0 0 7px 0;
			}
		}
	}
}

.control-left{
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -22px;
	z-index: 100;
	width: 44px;
	height: 44px;
	overflow:hidden;
	text-indent:-999px;
	border-radius: 50%;
	background: image("prev.png") no-repeat 11px center;
}

.control-right{
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -22px;
	z-index: 100;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow:hidden;
	text-indent:-999px;
	background: image("next.png") no-repeat 17px center;
}

// IMAGES
.image-gallery .gallery-left {height:100%;}

.image-gallery .items figure {
	position: absolute;
	left: 0;
	top: 0;
	line-height: 0;
}

// VIDEOS
#videos .gallery-list li {
	display: block;
	overflow:auto;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #000;
}

#videos .gallery-list li a {
	margin-right:10px;
	float:left;
}

#videos .gallery-list li .description {
	font-size:14px;
	line-height:18px;
}

.video-wrapper .video {
	position:relative;
}

.video-wrapper .video iframe {
	width:100%;
	height:auto;
	min-height:479px;
}


@include at-breakpoint(0 1024px $total-columns) {

	.gallery-left {
		@include span-columns(12 omega, $total-columns);
	}

	.gallery-wrapper .menu {
		display: none;
	}

}


@include at-breakpoint(0 768px $mobile-columns) {

	.gallery-tab {
		li{
			width: 146px;
			margin: 0 4px 4px 0;
			display: none;
		}

		li.previous{
			display: inline-block;
			width: 34px;
			height: 38px;
			background: {
				image: url(../images/prev.png);
				repeat: no-repeat;
				position: 10px center;
				size: 34%;
			}
		}

		li.next{
			display: inline-block;
			width: 90px;
			height: 38px;
		}
	}

}