// TILE LAYOUT
.pop {display: block; height: auto; position: relative;}
.tiles .tileToggle {position: absolute; right: 0; top: 0px;}
.tiles .tileToggle a {display: inline-block; margin-left: 10px;}
.tiles .layoutTiles .tile {
	@include span-columns(4, $total-columns);
	margin-bottom: 10px;
	float: left;
	display: block;
	position: relative;
	border: 1px solid #c8c9ca;
	height: 247px;

	&:nth-child(3) {
		margin-right: 0;
	}
}
.tiles .layoutTiles .tile .hit {display: block; width: 100%; height: 100%; position: absolute; top: 0; z-index: 5;}
.tiles .layoutTiles .tile.solid.blue .tileHead {
	background-color: dodgerblue;
	height: 145px;

	h4 {margin: 0; color: #fff;}
}
.tiles .layoutTiles .tile.solid .tileBody {overflow: hidden; display: inline-block; width: 100%;}

// LIST LAYOUT
.tiles .layoutList {width: 100%;}
.tiles .layoutList .tile {display: block; width: 100; position: relative; margin-bottom: 10px; border: 1px solid #c8c9ca;}
.tiles .layoutList .tile .hit {display: block; width: 100%; height: 100%; position: absolute; top: 0; z-index: 5;}
