/* This typography file is included in the WYSIWYG editor */
/*
 * Vertical aligning center classes.
*/
/*
 * Image replacement
*/
/*
 * Max content width
*/
/*
 * To stop the browser asking for copy/save/select the image.
*/
/*
 * Custom Checkbox
*/
/*
 * Custom Radio Button
*/
/*
 * Link Colour
*/
/*
 * Placeholder Text
*/
/*
 * Shapes
*/
/*
 * Base path for images
*/
/*
 * Set aspect ratio
*/
/*
 * Set aspect ratio with text inside
*/
/* line 15, ../scss/includes/_buttons.scss */
.button {
  background-color: #f58220;
  width: auto;
  display: inline-block;
  text-transform: capitalize;
  margin: 0 10px 0 0;
  color: #fff;
  text-decoration: none !important;
  font-size: 16px;
  font-size: 1.06667rem;
  line-height: 22px;
  line-height: 1.46667rem;
  padding: 10px;
  padding: 0.66667rem;
}
/* line 18, ../scss/includes/_buttons.scss */
.button a {
  color: #fff;
  text-decoration: none !important;
}

/* line 6, ../scss/typography.scss */
.typography * {
  font-size: 15px;
  font-size: 1rem;
}
/* line 10, ../scss/typography.scss */
.typography p {
  color: #222222;
  font-weight: 400;
  line-height: 21px;
  line-height: 1.4rem;
}
/* line 16, ../scss/typography.scss */
.typography h1 {
  font-size: 38px;
  font-size: 2.53333rem;
  font-weight: 700;
  line-height: 40px;
}
/* line 22, ../scss/typography.scss */
.typography h2 {
  font-size: 28px;
  font-size: 1.86667rem;
  font-weight: 400;
  line-height: 32px;
}
/* line 28, ../scss/typography.scss */
.typography h3 {
  font-size: 21px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 28px;
}
/* line 34, ../scss/typography.scss */
.typography h4 {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 400;
}
/* line 39, ../scss/typography.scss */
.typography a {
  color: inherit;
  text-decoration: underline;
}
/* line 44, ../scss/typography.scss */
.typography ul {
  padding-left: 20px;
}
/* line 47, ../scss/typography.scss */
.typography ul li {
  list-style: disc;
}
/* line 52, ../scss/typography.scss */
.typography ol {
  padding-left: 20px;
}
/* line 55, ../scss/typography.scss */
.typography ol li {
  list-style: decimal;
}
/* line 60, ../scss/typography.scss */
.typography li {
  margin: 5px 0;
  margin: 0.33333rem 0;
}
/* line 64, ../scss/typography.scss */
.typography table {
  font-size: 15px;
  max-width: 100%;
}
/* line 68, ../scss/typography.scss */
.typography table thead {
  background-color: #888888;
}
/* line 72, ../scss/typography.scss */
.typography table td {
  padding: 8px;
  border: 1px solid #acafa9;
}
/* line 79, ../scss/typography.scss */
.typography .left {
  text-align: left;
}
/* line 83, ../scss/typography.scss */
.typography .center {
  text-align: center;
}
/* line 87, ../scss/typography.scss */
.typography .right {
  text-align: right;
}
/* line 92, ../scss/typography.scss */
.typography img.left {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 97, ../scss/typography.scss */
.typography img.right {
  float: right;
}
/* line 102, ../scss/typography.scss */
.typography .button {
  background-color: #f58220;
  text-transform: capitalize;
  color: #fff;
}
