@import 'includes/settings';


@include at-breakpoint(0 767px $mobile-columns) {

	header {
		.logo {
			width: percentage(240px / 320px);
			h1 a {max-width: 320px;}
		}

		nav {display: inline-block; float:right; clear:none; top:26px; margin:0;}
	}

	#menu-icon {
		color: #222;
		width: 42px;
		height: 30px;
		background: url('../images/menu-icon.png') no-repeat center center $primary-color;
		cursor: pointer;
		border: 1px solid black;
		display: block;
		float: right;
	}

	.nav {
		margin: 0;
		clear: both;
		position: absolute;
		top: 29px;
		right: 0;
		width: 160px;
		z-index: 999;
		padding: 5px;
		background-color: #f8f8f8;
		border: 1px solid black;
		display: none;

		li {display: block; border:0; text-align:right;}

		a {display: block; padding:5px;}

		li:hover .dropdown {display: none;}
	}

	.search-bar {display: none;}

	.content {
		@include susy-grid-background;

		article {
			&.sidenav-page {
				@include span-columns(6 omega, $mobile-columns);
			}

			@include span-columns(6 omega, $mobile-columns);
		}

		aside.sidebar {
			@include span-columns(6 omega, $mobile-columns);
		}
	}

	/* PROMO-BOX HOMEPAGE */
	.promo-boxes-1 {
		margin: 20px 0;

		.promo-box {
			@include span-columns(3, $mobile-columns);

			&:nth-child(even) {
				@include span-columns(3 omega, $mobile-columns);
			}
		}
	}

	/* PROMO-BOX SIDE-BAR */
	.promo-boxes-2 {
		.promo-box {
			@include span-columns(3, $mobile-columns);
			margin-bottom: $gutter-width;

			&:nth-child(even) {
				@include span-columns(3 omega, $mobile-columns);
			}
		}
	}

	/* FOOTER */
	footer {
		display: none;
	}

	.copyright-m {
		display: block;
		clear: both;
		font-size: 12px;
		padding: 20px 0 10px 0;

		p {
			display: inline-block;
			margin: 0 auto;
		}
	}

	/* GALLERY */
	.gallery-tab {
		li{
			width: 146px;
			margin: 0 4px 4px 0;
			display: none;
		}

		li.previous{
			display: inline-block;
			width: 34px;
			height: 38px;
			background-image: url(../images/prev.png);
			background-repeat: no-repeat;
			background-position: 10px center;
			background-size: 34%;
		}

		li.next{
			display: inline-block;
			width: 90px;
			height: 38px;
		}
	}



}