.field {
	@include pie-clearfix;
	clear: both;
	margin: 6px 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;

	> .field > label {
		@include span-columns(2, 9);
		display: inline-block;
		text-align: right;
	}
}

input,
select,
textarea {
	@include span-columns(7 omega, 9);
	display: inline-block;
	border: none;
	padding: 8px 6px;
	margin: 0;
	background-color: $input-color;
	outline: none;
}

.field.checkbox {
	@include span-columns(7 omega, 9);

	> label {
		width: 100%;
		text-align: left;
		margin-right: 0;
	}
}


@include at-breakpoint(0 1024px $total-columns) {

	input,
	select,
	textarea {
		@include span-columns(10 omega);
	}

	.field.checkbox {
		@include span-columns(10 omega);
	}

	fieldset > .field > label {
		@include span-columns(2);
	}

}


@include at-breakpoint(0 768px $mobile-columns) {

	input,
	select,
	textarea {
		@include span-columns($mobile-columns omega);
		clear: both;
	}

	.field.checkbox {
		@include span-columns($mobile-columns omega);
	}

	fieldset > .field > label {
		@include span-columns($mobile-columns omega);
		text-align: left;
		margin-bottom: 5px;
	}

}